@import "media-queries";

$font: "Open Sans", sans-serif;
$violeta: #cc9fd8;
$negro: #232326;
$blanco: #f3f3f3;
$separacion: 40px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
.container {
  margin: 0 auto;
  width: 100%;
  background: $blanco;
}

img {
  width: 100%;
  margin: 0 auto;
}
/*___________________________________________________________SECCION HERO
/*HERO SLIDE*/
.Hero{
 
}
.glider-contain {
  position: relative;
}

.glider-prev {
  position: absolute;
  top: 40%;
  left: 3%;
}
.glider-next {
  position: absolute;
  top: 40%;
  right: 3%;
}
.arrow {
  font-size: 2rem;
  color: $violeta;
  @include tablet {
    font-size: 2.5rem;
  }
  @include desktop {
    font-size: 4rem;
  }
  @include mobile {
    display: none;
  }
}

.punto {
  color: $violeta;
}
#dots {
  display: flex;
  @include mobile {
    display: none;
  }
}
/*END HERO SLIDE*/
/*HERO DESCUENTO*/
.Hero-descuento {
  position: absolute;
  top: 55px;
  right: 0%;
  font-family: $font;
  font-size: 0.8rem;
  background-color: $violeta;
  opacity: 0.7;
  width: 170px;
  height: 60px;
  text-align: right;
  padding-right: 6px;
  color: $blanco;
  font-weight: 700;
  padding-top: 3px;
  @include tablet {
    font-size: 1rem;
    top: 115px;
    width: 190px;
    height: 70px;
    padding: 6px 6px 0 0px;
  }
  @include desktop {
    font-size: 1.5rem;
    top: 115px;
    width: 300px;
    height: 110px;
    padding: 10px 10px 0 0px;
  }
}
.Hero-descuento a {
  text-decoration: none;
  color: $negro;
  font-weight: 400;
}
.Hero-descuento a h2 {
  font-weight: 600;
}

.Hero-descuento a:focus,
.Hero-descuento a:hover {
  color: black;
  text-decoration-line: underline;
}

/*END HERO DESCUENTO*/
/*___________________________________________________________END SECCION HERO


/*___________________________________________________________SECCION ALLSEASON*/

.allSeason {
  margin: 20px 0px $separacion 0;

  @include titulos;

  @include tablet {
    font-size: 1.5rem;
    letter-spacing: 9px;
  }
  @include desktop {
    font-size: 1.5rem;
    letter-spacing: 12px;
  }
}
/*START ALL SEASON TITULO*/
.allSeason-titulo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  color: $negro;
}

.allSeason a {
  text-decoration: none;
}

.allSeason-video {
  position: relative !important;
  padding: 40px 0 40px 0;
  @include tablet {
    padding: 40px 0 100px 0;
  }
  @include desktop {
    padding: 40px 0 180px 0;
  }
}
.allSeason-arrows {
  padding-left: 0px;
  animation: myFrame 1.5s ease-in-out 0s infinite normal forwards;
}
.allSeason-arrow {
  font-size: 30px;
  color: $violeta;
  font-weight: 700;
  width: 18px;

  @include tablet {
    font-size: 45px;
  }
  @include desktop {
    font-size: 45px;
  }
}

@keyframes myFrame {
  0% {
    transform: translate(5px);
  }
  50% {
    transform: translate(10px);
  }
  100% {
    transform: translate(20px);
  }
}

/*----STYLE BUTTON YOUTUBE*/
/*
.ytp-large-play-button-bg path
{

fill:$violeta;
}

  

  .videoPoster:hover {
    cursor: pointer;
  }
  .videoPoster:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    border: 1px solid #fff;
    border-radius: %;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
  }
  .videoPoster:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      margin:-7px 0px 0px -5px;
      border-left: 15px solid #fff;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      -webkit-transition: border-color 300ms;
      -moz-transition: border-color 300ms;
      transition: border-color 300ms;
  }
  .videoPoster:hover:before,  .videoPoster:focus:before {
      border-color: #f00;
  }
  .videoPoster:hover:after, .videoPoster:focus:after {
    border-left-color: #f00;
  }
  .videoWrapperActive .videoPoster {
    opacity: 0;
    height: 0;
    -webkit-transition-delay: 0s, 800ms;
    -moz-transition-delay: 0s, 800ms;
    transition-delay: 0s, 800ms;
  }

*/

/*----*/

/*END ALL SEASON TITULO*/

/*___________________________________________________________END SECCION ALLSEASON*/

/*___________________________________________________________SECCION NEW IN*/
.newIn {
  position: relative;
  padding: 40px 0;
  width: 90%;
  border: 3.5px solid $violeta;
  margin: 0px auto;
}
.glider-prev2,
.glider-next2,
.glider-prev2:focus:hover,
.glider-next2:focus:hover {
  border-style: none;
  background: transparent;
  outline: none;
}
.glider2 {
  margin: 0 auto;
  position: relative;
}
.glider-contain2 {
  width: 90%;
  margin: 0 auto;
}
.g-slide {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.glider2 img {
  width: 200px;
  height: auto;

  z-index: 0;
}

.glider-prev2 {
  position: absolute;

  left: 3%;
  top: 40%;
}
.glider-next2 {
  position: absolute;

  right: 3%;
  top: 40%;
}
.arrow__black {
  color: $negro;
  font-size: 16px;
}

.newIn-titulo {
  font-family: $font;
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: $violeta;
  letter-spacing: 3px;
  top: -40px;
  right: -10px;
  position: absolute;

  @include tablet {
    font-weight: 900;
    font-size: 2rem;
    top: -52px;
    right: -10px;
  }
  @include desktop {
    font-weight: 900;
    font-size: 2rem;
    top: -53px;
    right: -10px;
  }
}

.icon {
  position: relative;
}
.favorito {
  position: absolute;
  font-size: 1.5rem;
  left: 10px;
  top: 4px;

  color: $violeta;
  z-index: 1;
}

.newIn-bajadaFoto {
  width: 200px;
  padding-right: 5px;
  font-family: $font;
  font-size: 0.9rem;
  text-align: right;
  padding: 5px 0;
  color: $negro;
}

/*___________________________________________________________END SECCION NEW IN*/

/*___________________________________________________________SECCION CATEGORIAS*/
.categoria {
  margin: $separacion 0 $separacion 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.categoria-plano {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: $separacion;
}
.categoria-plano h2 {
  font-family: $font;
  font-size: 2rem;
  letter-spacing: 4px;
  margin-top: 40px;
  font-weight: 400;
  text-align: center;
  color: $violeta;
}
.borrar-mt {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
}
.categoria-plano1 {
  background-color: $negro;
  width: 49%;
  height: 120px;
  @include mobile {
    width: 100%;
  }
  @include tablet {
    width: 100%;
  }
}

.categorias {
  width:80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.categoria-1 {
  position: relative;
  margin: 0 2px;
  @include tablet {
    margin: 4px 6px;
  }
  @include desktop {
    margin: 8px;
  }
}
.categoria-1 img {
  height: auto;
  width: 100%;
  @include tablet {
    height: auto;
    width: 350px;
  }
  @include desktop {
    height: auto;
    width: 420px;
  }
}
.categoria-1__borrar {
  @include desktop {
    display: none;
  }
}
.categoria-1 h3 {
  position: absolute;
  background: $violeta;
  opacity: 0.8;
  padding: 5px 40px;
  font-family: $font;
  font-weight: 400;
  letter-spacing: 1px;
  bottom: 0px;
  left: 80px;
  
  font-size: 0.8rem;
  @include tablet {
    padding: 10px 80px;
    bottom: 3px;
    left: 77px;
    font-size: 1rem;
  }
  @include desktop {
    padding: 10px 80px;
    bottom: 0px;
    left: 110px;
    font-size: 1rem;
  }
}

/*___________________________________________________________END SECCION CATEGORIAS*/

/*___________________________________________________________SECCION INSTAGRAM*/
.instagram {
  width: 80%;
  position: relative;
  margin: 0 auto;
}
.instagram-flechas {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: absolute;
  top: 1px;
  left: 140px;
  transform: rotate(180deg);
  @include mobileS {
    display: none;
  }
  @include tablet {
    left: 180px;
  }
  @include desktop {
    left: 270px;
  }
}
.flechas-td {
  @include mobile {
    display: none;
  }
}
.flechas-des {
  display: none;
  @include desktop {
    display: block;
  }
}
.instagram-flechas1 i {
  font-weight: 200;
  font-size: 2rem;
  margin: 0;
  @include desktop {
    font-size: 3rem;
  }
}
.instagram-flechas1 {
  @include tablet {
    margin-right: 8px;
  }
  @include desktop {
    margin-right: 30px;
  }
}
.instagram-follow h2 {
  font-family: $font;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 4px;
  color: $negro;
  @include tablet {
    margin-left: 20px;
  
  }
  @include desktop {
    margin-left: 40px;
    font-size: 3rem;
  }
}
.instagram-follow {
  margin-bottom: 30px;
}
.instagram-fotos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.instagram-fotos img {
  width: 140px;
  height: auto;
  margin-left: 3px;
  @include tablet {
    width: 200px;
  }
  @include desktop {
    width: 300px;
    margin: 17px 20px;
  }
}

/*___________________________________________________________END SECCION INSTAGRAM*/
/*___________________________________________________________BOTON BACK TO TOP*/

.boton-back h4 {
  font-family: $font;
  font-weight: 200;
  color: $negro;
  font-size: 1.2rem;
  margin: 0 40px;
  letter-spacing: 4px;
}
.boton-back {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 40px 0;
}
.boton-back a {
  text-decoration: none;
}

/*___________________________________________________________END BOTON BACK TO TOP*/





/*___________________________________________________________ PAGINA SHOP___________________________________________________________*/

