footer {
  width: 100%;
  /*top:190%;
  
  z-index: 1000000000;
  @include mobile{
    top:175%;
  }
  @include tablet{
    top:302%;
  }*/
}

/*___________________________________________________________ NAV-SHOP*/

.nav-shopPage {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: start;
          justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10001;
  box-sizing: border-box;
  padding-top: 15px;
  width: 100%;
  background: #f3f3f3;
}

@media (min-width: 320px) and (max-width: 767px) {
  .nav-shopPage {
    height: 10%;
    display: none;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .nav-shopPage {
    width: 20%;
    top: 110px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .nav-shopPage {
    width: 20%;
    top: 110px;
  }
}

.nav-logo img {
  width: 70px;
  height: auto;
}

.mainmenu,
.submenu,
.categoria-mobile {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mainmenu a {
  display: block;
  background-color: #f3f3f3;
  text-decoration: none;
  padding: 10px 50px;
  color: #000;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .mainmenu a {
    padding: 10px 30px;
  }
}

.categoria-mobile a {
  display: none;
  background-color: #f3f3f3;
  text-decoration: none;
  padding: 10px 50px;
  color: #000;
}

.mainmenu a:hover,
.mainmenu a:focus {
  background-color: #cc9fd8;
}

.mainmenu li:hover .submenu,
.mainmenu li:focus .submenu {
  display: block;
  max-height: 200px;
}

.mainmenu li,
.categoria-mobile {
  font-size: 1rem;
}

.submenu a {
  background-color: #f3f3f3;
  font-size: 0.9rem;
  border: none;
}

.submenu a:hover,
.submenu a:focus {
  background-color: #232326;
  color: #f3f3f3;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

.mainmenu li {
  position: relative;
}

.nav-flecha {
  position: absolute;
  top: 12px;
  right: 10%;
  font-size: 1.2rem;
}

.mainmenu li:hover > .nav-flecha {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: transform 0.2s ease-out;
}

/*---------------mobile*/

@media (min-width: 320px) and (max-width: 767px) {
  .nav-logo {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .mainmenu,
  .submenu {
    width: 100%;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }
}

.categoria-mobile .categoria {
  border: 1px solid #cc9fd8;
  text-align: center;
}

@media (min-width: 1024px) {
  .categoria-mobile {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .categoria-mobile {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .categoria-mobile li:hover > .mainmenu {
    overflow: hidden;
    display: block;
    -webkit-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .mainmenu {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .nomobile {
    display: none;
  }
}

/*---------------------*/

/*___________________________________________________________ END NAV-SHOP*/

main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: #f3f3f3;
}

@media (min-width: 320px) and (max-width: 767px) {
  main {
    width: 100vw;
    left: 0;
  }
}

/*___________________________________________________________ MODULO-SHOP*/

.modulosTodos {
  padding: 40px 0;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: center;
          justify-content: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  .modulosTodos {
    width: 100%;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center;
  }
}

.modulo-shop {
  padding: 30px 30px;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

@media (min-width: 320px) and (max-width: 320px) {
  .modulo-shop {
    padding: 0px 7px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .modulo-shop {
    margin: 4px 25px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .modulo-shop {
    padding: 0px 30px;
    width: 35%;
  }
}

.modulo-shop__img {
  position: relative;
}

.modulo-shop__img img {
  width: 308px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 15px;
}

@media (min-width: 320px) and (max-width: 320px) {
  .modulo-shop__img img {
    width: 145px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .modulo-shop__img img {
    width: 150px;
    margin-bottom: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .modulo-shop__img img {
    width: 280px;
  }
}

.modulo-shop__img .dos {
  position: absolute;
  top: 0px;
  display: none;
}

.modulo-shop__img:hover > .dos {
  display: block;
}

.modulo-shop__img:focus > .dos {
  display: block;
}

.modulo-shop__descripcion {
  margin-bottom: 15px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .modulo-shop__descripcion {
    margin-bottom: 5px;
  }
}

.modulo-shop__descripcion h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  height: 25px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .modulo-shop__descripcion h4 {
    font-size: 0.7rem;
    height: 15px;
  }
}

.modulo-shop__descripcion .titulo,
.precio,
.color {
  text-align: center;
}

/*___________________________________________________________ END MODULO-SHOP*/

/*___________________________________________________________ FILTER-PAGES*/

.filter-pages {
  height: 60px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  background: #f3f3f3;
  position: fixed;
  z-index: 10000;
  width: 100%;
  top: 110px;
  left: 10%;
  box-sizing: border-box;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .filter-pages {
    width: 80%;
    left: 20%;
    top: 110px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .filter-pages {
    left: 0;
    top: 45px;
  }
}

.filter-pages h4 {
  font-family: "Open Sans", sans-serif;
}

.filter-pages__categoria {
  width: 200px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

@media (min-width: 320px) and (max-width: 767px) {
  .filter-pages__categoria {
    display: none;
  }
}

.filter-pages__categoria a {
  text-decoration: none;
  color: #232326;
}

.link a {
  color: #232326;
  font-family: "Open Sans", sans-serif;
  font-size: 1 rem;
  margin: 0 10px;
  color: #cc9fd8;
  text-transform: uppercase;
}

.link a:hover {
  color: #232326;
}

.contene {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  justify-content: space-around;
}

.link {
  width: 40%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  margin-top: 30px;
  margin-left: 40px;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
}

.link h4 {
  font-weight: 200;
}

.filter-pages__categoria h4,
.filter h4 {
  font-size: 1rem;
  font-weight: 200;
}

.filter-pages__categoria h4:first-child {
  margin-right: 5px;
}

.filter-pages__categoria h4:last-child {
  margin-left: 5px;
}

.filter {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  .filter {
    padding-left: 10px;
  }
}

.filter-icon {
  font-size: 1.3rem;
}

.pages {
  width: 80px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  .pages {
    display: none;
  }
}

.pages ul li {
  list-style: none;
  padding: 0px 2px;
}

.pages ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.pages ul a {
  text-decoration: none;
  color: #232326;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 200;
}

.pages-icon {
  font-size: 1rem;
  font-weight: 200;
}

/*___________________________________________________________ END FILTER-PAGE*/

.pagination {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 10%;
  background: #cc9fd8;
  padding: 10px;
}

.pagination li {
  display: inline-block;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.pagination span a {
  font-size: 1rem;
}

.pag {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
          justify-content: flex-end;
  width: 50%;
  margin-right: 60px;
  padding-top: 50px;
}

.pag2 {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
          justify-content: flex-end;
  width: 96%;
  margin-right: 60px;
  padding-top: 50px;
}

.agregarProducto {
  margin-right: 30px;
  display: inline-block;
  padding: 10px 20px;
  background: #232326;
  color: #f3f3f3;
  font-family: "Open Sans", sans-serif;
}

.editarProducto {
  display: inline-block;
  padding: 10px 10px;
  background: #232326;
  color: #f3f3f3;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
}

