* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* fondo */
  background-color: #F3F3F3;
  /* texto */
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #232326;
  }

.contenedor {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  }
.caja-pregunta {
  width: 40%;
  height: 120px;
  background-color: white;
  display: inline-block;
  border: solid 1px black;
  margin-top: 20px;
  padding: 45px 0;
  text-decoration: none;
}
.categoria-pregunta {
  text-align: center;
  letter-spacing: 3px;
  background-color: white;
  font-size: 0.9em;
}

.titulo {
  color: #CC9FD8;
  font-size: 1.5em;
  }

.contenedor-titulo {
  padding: 8px 0;
  }

.margen-izq {
  margin-left: 20px;
  }

.borde-titulo {
  border-top: solid 1px #232326;
  border-bottom: solid 1px #232326;
}

#volver i {
  color: #f3f3f3;
}

#enlace-olvide {
  font-size: 0.8em;
  text-align: center;
}

#seccion-back-top {
  margin: 15px 0;
}

#volver-atras {
  display: inline-block;
  color: #f3f3f3;
  font-weight: bold;
  letter-spacing: 0.3em;
  vertical-align: super;
  text-decoration: none;
  position: relative;
  bottom: 1px;
}

#volver {
  width: 75%;
  text-align: center;
  display: inline-block;
}

#top {
  width: 20%;
  text-align: center;
  display: inline-block;
}

#palabra-top {
  display: block;
  color: #f3f3f3;
  font-weight: bold;
  letter-spacing: 0.3em;
  text-decoration: none;
  position: relative;
  bottom: 5px;
}

/*Media querys*/
/*Tablet*/
@media (min-width:768px) {
  .contenedor {
    padding: 0 20px;
  }
  .caja-pregunta {
    width: 30%;
    height: 130px;
    padding: 52px 0;
  }

  #volver {
    width: 100%;
    text-align: left;
    display: inline-block;
    padding-left: 20px;
  }

  #top {
    display: none;
  }
}

/*Desktop*/

@media (min-width: 1024px) {
  .caja-pregunta {
    height: 180px;
    padding: 78px 0;
  }
  #volver {
    margin-bottom: 15px;
  }

  }
